<!-- This is the home page content of Catalog Items Application, Copyright 2015
     by Deanna M. Wagner. -->

{% extends "super.html" %}
{% block content %}
  <h1>FitCollection Introduction</h1>
    <p>Choose a category on the left and find exercises.  Login above right in
       order to create an item or to edit or delete items you have created.</p>
    <p>Please consult your health care provider before beginning any exercise
       program, and to receive recommendations on the types, frequendies, duration,
       and intensity that is best for you as an individual.  An effective, well-
       rounded exercise plan contains a warm up, conditioning phase and a cooldown. 
       Conditioning might be cardiorespiratory, strength and/or a mind-body component.</p>
{% endblock content %}